In [1]:
import numpy as np
import pandas as pd

import pickle

In [3]:
## load the HOMFLYPT data
jones_df = pd.read_csv('data/Jones_upto_15_MIRRORS_NA.csv')
jones_df

,knot_id,representation,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,J-25,J-24,...,J16,J17,J18,J19,J20,J21,J22,J23,J24,J25
0,33,1,8,19,0,6,3,8,0,0,...,0,0,0,0,0,0,0,0,0,0
1,33!,1,8,19,0,-6,-8,-3,0,0,...,0,0,0,0,0,0,0,0,0,0
2,34,1,8,20,0,0,-1,5,0,0,...,0,0,0,0,0,0,0,0,0,0
3,34!,1,8,20,0,0,-5,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,35,1,8,21,0,2,1,7,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403399,313228!,1,15,253291,0,-6,-15,-2,0,0,...,0,0,0,0,0,0,0,0,0,0
403400,313229,1,15,253292,0,2,-3,10,0,0,...,0,0,0,0,0,0,0,0,0,0
403401,313229!,1,15,253292,0,-2,-10,3,0,0,...,0,0,0,0,0,0,0,0,0,0
403402,313230,1,15,253293,0,4,-2,11,0,0,...,0,0,0,0,0,0,0,0,0,0
403403,313230!,1,15,253293,0,-4,-11,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
## load the HOMFLYPT data
homfly_df = pd.read_csv('data/HomflyPt_upto_15_MIRRORS_NA.csv')
homfly_df

,knot_id,number_of_crossings,table_number,is_alternating,signature,s_invariant,a18_z0,a18_z2,a18_z4,a18_z6,...,a-16_z12,a-16_z14,a-18_z0,a-18_z2,a-18_z4,a-18_z6,a-18_z8,a-18_z10,a-18_z12,a-18_z14
0,33,8,19,0,6,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,33!,8,19,0,-6,-6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,34,8,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,34!,8,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,35,8,21,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403399,313228!,15,253291,0,-6,-8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
403400,313229,15,253292,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
403401,313229!,15,253292,0,-2,-2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
403402,313230,15,253293,0,4,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
403403,313230!,15,253293,0,-4,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
## load the knot_info df

knot_info_df = pd.read_csv('data/coloring_df.csv')
knot_info_df['s_signature_diff'] = np.abs(knot_info_df['signature'].abs() -
                                          knot_info_df['s_invariant'].abs())
knot_info_df

,knot_id,number_of_crossings,is_alternating,signature,s_invariant,signature_mod4,s_signature_diff
0,0,0,1,0,0,0,0
1,0!,0,1,0,0,0,0
2,1,3,1,2,2,2,0
3,1!,3,1,-2,-2,2,0
4,2,4,1,0,0,0,0
...,...,...,...,...,...,...,...
626457,313228!,15,0,-6,-8,2,2
626458,313229,15,0,2,2,2,0
626459,313229!,15,0,-2,-2,2,0
626460,313230,15,0,4,4,0,0
626461,313230!,15,0,-4,-4,0,0

In [33]:
knot_info_df.s_signature_diff.value_counts()

s_signature_diff
0    582290
2     44042
4       130
Name: count, dtype: int64

In [5]:
# load the Jones BM graph
with open('pkl/jones_NA_50.pkl', "rb") as f:
    jones_bm = pickle.load(f)

print('{} nodes loaded'.format(len(jones_bm.Graph.nodes)))

125 nodes loaded

In [13]:
# load the nodes that were selected in the GUI
with open('pkl/jones_NA_50_selected_nodes.pkl', "rb") as f:
    selected_nodes = pickle.load(f)
    selected_nodes = [int(n) for n in selected_nodes]

print(len(selected_nodes))

3

In [15]:
# get the list of points covered by the selected nodes
points_id = list(set([p for node in selected_nodes for p in jones_bm.Graph.nodes[node]['points covered']]))
len(points_id)

822

In [26]:
# slice through the df
subset_df = knot_info_df.iloc[points_id].copy()
subset_df

,knot_id,number_of_crossings,is_alternating,signature,s_invariant,signature_mod4,s_signature_diff
118785,59392!,14,0,-2,-2,2,0
305161,152580!,15,0,-2,-2,2,0
372747,186373!,15,0,-2,-2,2,0
194581,97290!,15,1,0,0,0,0
382997,191498!,15,0,0,-2,0,2
...,...,...,...,...,...,...,...
131057,65528!,15,1,-2,-2,2,0
395251,197625!,15,0,-2,0,2,2
401399,200699!,15,0,-2,-2,2,0
401401,200700!,15,0,0,0,0,0
401403,200701!,15,0,-2,-2,2,0

In [29]:
subset_df.signature.value_counts()

signature
-2     331
 0     233
-4     174
-6      59
-8      22
-10      2
-12      1
Name: count, dtype: int64

In [30]:
subset_df.s_invariant.value_counts()

s_invariant
-2     320
 0     242
-4     164
-6      64
-8      25
-10      6
-12      1
Name: count, dtype: int64

In [32]:
subset_df.s_signature_diff.value_counts()

s_signature_diff
0    746
2     76
Name: count, dtype: int64